@charset "UTF-8";
/* letras */
/* colores */
/* tamaño */
/* tamaño texto */
/* header   */
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  padding-right: 16px; }

.header__logo {
  display: inline;
  justify-content: flex-start; }

.header__list {
  list-style: none;
  justify-content: space-between; }

.header__item {
  display: inline; }

.header__link:hover {
  background-color: green;
  border-radius: 5px; }

/* main */
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #008000 33%, #fbfbfc 33% 66%, #ff0000 66%);
  color: whitesmoke; }

h1 {
  color: darkgreen;
  font-family: "League Gothic", sans-serif;
  font-size: 2rem;
  text-align: center; }

h2 {
  color: red;
  font-family: "League Gothic", sans-serif;
  font-size: 25px;
  text-align: center; }

a {
  color: black;
  text-decoration: none; }

.text {
  margin: 16px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(34, 33, 32, 0.753); }

.image__direction {
  display: flex;
  justify-content: center; }

.image__item:hover {
  transform: scale(1.02); }

ul {
  list-style: none; }

/* Arte */
.video__direction {
  display: flex;
  justify-content: center;
  margin: 16px; }

.video__description {
  display: flex;
  justify-content: center; 
  font-weight: bold;
  color: black;
}


.carousel__imagen{
  width: 250px;
}

.piedad__imagen{
  width: 350px;
}

.text__descripcion{
  text-align: center;
  color:black;
  font-weight:bold;
}


.arte__musica{
  display: flex;
  flex-direction: row;
}

.contenedor__arte{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen__cristo{
  width: 300px;
}

/* Geografia */
.geography__contents {
  display: flex;
  flex-direction: column; }

.geography__title {
  padding: 16px;
  font-size: 25px;
  font-weight: bold; }

.capital__name {
  text-align: center;
  font-weight: 100; }

.capital__icon {
  align-items: column;
  width: 30px; }

.capital__icon:hover {
  transform: scale(1.5, 1.5);
  transition: 0.5s; }

.tarjeta__capitales{
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color:rgba(34, 33, 32, 0.753) ;
  text-align: center;
  border: black 3px solid;
  border-radius: 5px;
}
.titulo__insular{
  margin: 20px;
}
.capital__insular{
  margin: 20px;
}
/* footer */
.footer__main {
  display: grid;
  width: 100vw;
  grid-template-columns: 1 fr;
  grid-template-rows: 3 fr;
  grid-template-areas: "indice"
 "redes"
 "derechos"; }

.footer__indice {
  font-size: 16px;
  grid-area: indice;
  grid-column: 1/1;
  grid-row: 1/1;
  font-size: 15px;
  padding-bottom: 0px; }

.footer__redes {
  grid-area: redes;
  grid-column: 1/1;
  grid-row: 2/2;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.footer__derechos {
  grid-area: derechos;
  grid-column: 1/1;
  grid-row: 3/3;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px; }

.footer__icon {
  width: 50px;
  height: 50px;
  margin: 16px;
  align-items: center; }

.footer__navefect:hover {
  background-color: red;
  border-radius: 5px; }

.footer__icon:hover {
  transform: scale(1.5, 1.5);
  transition: all(0.5s); }

/* Map */
/* Each */
.color-twitter {
  background-color: lightblue; }

.color-facebook {
  background-color: blue; }

.color-instagram {
  background-color: #c54157; }

.tamaño-h1 {
  font-size: 3rem;
  color: darkgreen; }

.tamaño-h2 {
  font-size: 2rem;
  color: red; }

.tamaño-h3 {
  font-size: 1rem;
  color: red; }

/*Mixin */
/* Media Querie */
/* Responsive Mobil */
@media (min-width: 320px) and (max-width: 575px) {
  .footer
__main {
    display: grid;
    width: 100vw;
    grid-template-columns: 1 fr;
    grid-template-rows: 1 fr;
    grid-template-areas: "indice"
 "redes"
 "derechos"; }
  __redes {
    grid-area: redes;
    grid-column: 1/1;
    grid-row: 2/2;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  __derechos {
    grid-area: derechos;
    grid-column: 1/1;
    grid-row: 3/3;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px; }
  __icon {
    width: 40px; } }

.image__item {
  width: 250px; }

/* Responsive Tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .footer__icon {
    width: 40px; } }

* {
  margin: 0px;
  padding: 0px; }

.color__artext {
  text-align: center;
  display: inline;
  color: #dadae9;
  background-color: rgba(0, 0, 0, 0.575); }
