/* Geografia */

.geography{
    &__contents{
        display: flex;
        flex-direction: column;
    }



    &__title{
        padding: 16px;
        font-size: 25px;
        font-weight: bold;
    }
}
.capital{

    &__name{
        text-align: center;
        font-weight: 100;

    }

    &__icon{
        align-items: column;
        width: 30px;
    }

    &__icon:hover{
        transform: scale(1.5,1.5);
        transition: (0.5s);
    } 
}