/* main */

body {
    font-family: $font-principal;
    background: linear-gradient( to right, #008000 33%, #fbfbfc 33% 66%, #ff0000 66%);
    color: $font-color;

}


h1 {
    color: $color-titulo;
    font-family: $font-titulos;
    font-size: $tamaño-titulo;
    text-align: center;
}


h2 {
    color: $color-subtitulo;
    font-family: $font-titulos;
    font-size:  25px;
    text-align: center;
}

a{
    color: black;
    text-decoration: none ;
}
.text{
    font-size: $tamaño-contenido; 
    font-family: $font-principal;
    text-align: center;
    color: $font-color;
    background-color: rgba(34, 33, 32, 0.753);
}

.image{


    &__direction{
        display: flex;
        justify-content: center;
    }

    &__item:hover{
        transform: scale(1.02);
    }
}

ul{
    list-style: none;
}

