/* letras */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'League Gothic', sans-serif;

/* colores */
$font-color: rgb(87, 177, 27);
$color-titulo:darkgreen;
$color-subtitulo:red;

/* tamaño */
$tamaño-icono: 50px;

/* tamaño texto */
$tamaño-contenido: 1rem;
$tamaño-titulo: $tamaño-contenido *2;

