@import "header";
@import "main";
@import "arte";
@import "geografia";
@import "footer";
@import "mediaqueries";
*{
    margin: 0px;
    padding: 0px;
}

.color__artext{
    text-align: center;
    display: inline;
    color: rgb(218, 218, 233);
    background-color: rgb(34, 33, 32);
}